@font-face {font-family: "typicon";
  src: url('//at.alicdn.com/t/font_1144028_wagkprqwss.eot?t=1559890563345'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1144028_wagkprqwss.eot?t=1559890563345#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAABFQAAsAAAAAHKQAABEDAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCGHgqnTKBFATYCJANcCzAABCAFhGEHgXQbJRgzo8LGAYCgPiSy/zKBmyL4vOB0sJAiVlvbWpQlFoEi4uRV1+jd1lillmNgfPxui2HJEDGHr4gpAmZwuOldO1RM8Jvg4duv/R15g5lVk4wn8cYhk1YaJgk/fUPCknbTOIun33R42uY/7o6WKl0wRYwE8ysmIYJiYTR2UOpXsJfBmkVUmQABYvO19QqJQ+uLRMUHqKjH4PUGTU8DrH9jYeWLe0Zee0v8lMM1vXBuvnLbsq5vMQqhtsmz33z1wIayhTAh3A0vnH0E55Cwd5V0/b/9+tWd75h4KJuI+d6ZtZGVwQd/LG6DWrJSNBHSvK9vUE1fNJE4myFVQguE1CmNisFyykU6MfBKWEZcv937IYBg0pUSrYrzgMGhoULguMmqzz9kcNZydMogQWDOOJ6rSahJjEOgHD3lDIBl8+vFJ6huFkDiKEA/qKP8xCdM9DPC0w7Y8tzD9MN9zEx9Brg8DxRQCjRI4ywKUDdeamSwy9ZcA8iX6f3OG0t6THksuO+lz2qe6Z+Znk22cVtrH9hfVU88C03+omMosIQ8VSFXSx9fkK+UkfK/wINoMWLFiRdOBAKJQuNgCCCQIIIJIYxQokRCGIBjQwFEor83HpYg5iIaljgXMbAOcxELS5qLOFgKK6cE0IRD+UKQpqTQCKgaaCSUHhoFZYJGQ02GxoGaC42B2gZNANRjaAKhvmAugsCPnYtg8HvORQj4QzRhUKHQhELJMRdReOtYSyQqE9RzykEfAGYUgMA9BtltI80pkeqkrnPQZ1eKncaD/azae/T2XKUxbOwshuMIqite5qU6tEaAjwjgkTfi1wxns7mkrXieRQ+n4zkiWcBgkabBMJrL5sDBoLxExmKTYKUD2enpSqMxoj2AZxFmOjCZ7aEgrGfM+GIkayydBxFMwhqUtzDGI4fq+DviWNbKEVDEsWNGZ5CcGAogmwU1X6PgF9rhFauvtSvq+zluzGBj8W3GqrVSt3na2JnTUSg2bQ7qmGmMR+lds3RpJsUTxwa5YFVJpo9qiGWce2XMJXa69W7O5rh4fWyGMZ40R4CJmQSUNcdnorZxYxBDMCHSYUyWxcYPLrGMm5fGFbSJ+tDO5TWzIiGqk2VZQ3J5HtOkK8biS5nJc0HxHv7v+nACBKAT74q1dX1DbZQ1jlZtdfqXL+81jztZEirf0s54cMtAz470fOiZjXOjjaJoQtsWBDsj7EhDjSVJjAc2WAtrUPqO60B7haxe8wY7XB+mdhmeHuxyPDv4/MXEO51QoJgb59QogAzIi3SMeYuOdZXN4342iGkfYlFNR2aOcAtretrMGjkr85E5DheqXu41y+E4YoCdmBNpWZGqwXxJq25V0DYvlkfH8iYkOTfautKvJdyn+mKEQPc/J4fuKfx7GaVa350TGCsF3/9Z3+J8c2mhWsgadz6ehV2L5rkSvQSEAEQ5k6loC3MWDK+GaFi0QLGf+6BXjSo6Og8dMTrXkZqK1Any8QE7FJYhFEdfaVDr9ZT8BwxBzhRVoLgz46Ff/6D6yVXXXet7Y+UETAQe44mIVRNywOYtV3PEZcpyNOwP08vwhRB7gf3BEMND8PX28zrzi86ypaZ4S+slW3Vs1S6WbdjRuFJ806hkdFO/05W+S+h839dG1qzXG6zcp0aWM+u9V+6t+DLVXykH41ngcaa/cqXDlwNt4enp4J9O4HJFXdlk7Js/jiVrq4sTDXWa6zgwFF5hB0o5OjtIKD3Rg7XCyQqUAoznSGqdpbsC60LbHGgB20zz0mAMgHC/RdaMdLyVwTL0/KiUN7kd6kNiUh3WJpLYbyzVPMdhNpqTKP6QPFZZ+kTDjxT0UD2kgvngkLb6wBYV1OC/lgdHHvq2X8rmdVkdC+K73/xYR8i7NQj37hSdWJASbKwgpJL6JLdsUbJUdKK5IP5lIeh/BD3RIUuLqORamXAIFs9PlAh2BED/rZdKBwapCG0F0C7hDz/LGus+z1lrPs3oqz9Jb+fMWs01xKuOGboMdeEAf0iNloN1b7tuMOgTCJvr92m8ovHT3+DAVm4q/wFHNX6uEY2KXKxoniSa3nKvWM5H8tbqScEOJMltW8QrBUxwrBdnYuWXh+Qwugwjq2ypjm6r2qZIbtFCVl2dN49no6Xixx9/pFl4x4nzjG84Yp9dMSeB5zA3IFweCkFPAD9oOeIIWUmN7zdu25DKuUkylyVarKol2hrjIfTtV4OckV35irdNbtQe8e8G14lKPGGeEWDdoS8owBtK8IGJCw1r9tiWtC+3b+xaG91URpflqbqMQDFaP74/vTwk+mtbr5aSjUTdsC28rYqeG7LODOAtFSBZ2Tpo9jeX6xUtA9ZQW5Wqh9Oe6WejRiwXWKlM5Po645tlB7ybksj/TQtwpDMdXPC9GEQA2YwvYEq/QO0kSg2en48OttLr5F/gG+vovRU23lG3lj66ogQD9Ez1qfSqjf4qceif5P519BBsMxYEf1CqVcq518TuChhCPoxc8q9Sch9joX2COMHE1QG/a17iGwoSBVKXiV3/rd/VPnFGu3HaXINGnxjaqSGA6UMxsj1OKw268ua1dXbv/7xTa6fPa0sTJ1JiXV3iAiuLfWNoMQVyLyf5UCNfSXbPB+GNrtsYybP02aoTqttOkNNtA28Q9SYztuFWYVXYVToyji2QNt1eB6dLi3myxZ/k+2WDCBFtX3xJ/mj4RWCKMrhOmO6qck0XGguEwiHMPUwH8SUPtM3U3h4tf72bHBi2x2rycrRFzX3N2iXMM2mARUBUl+9Q7lD/n0xuCyWOlkiOJRG7d+7sdrjgQkmk7ppFgXIxyxIs1sRlXrmUDGoqRUrBmMvuLrLfKWvDkgMpKVQtBTUdSzNfuWKmAT4cYjyp1580Tlz+tMfr4zPRFHoDltTnsVUi2UHpgi/bahM1zZq+S9HcL3vSgzIROz6xXgKnZWxZKlQes7PtGx163SrE4iNd+XmlYQPCgwdTiHc+9ngtfzrRqD95Um/TMxYHL40UrypbHSSdsGzdFtkd2xsli5Xgmobjk/lENH0YAwztS5a5dFQc2l/3f45dptfL7Fs4aLhH5axuazY0y6VVqo54ZdcMD7yXqsSpjlmtvoKfrHZFaLVtmE8jKeju3rMnYizrnRd7rREViLuEJYO+Yw52r9Z1QTLWBZa0u3Srd+/CfJdB1hW63ZqKnlFog9VqQNMxdK9gtUbuPgoT62JguSZaQG27fmjaoeO0tvliHQiaPHrW3XZ/kQGd7onEZPvUr6uqqFi9qbAcrYAtktzioB4lqPx+bY63CPF4+UxDrJZv6ZStRQrhlNhptXVT5SlIPnpNdIdBtSxIxQqqaj6yRhVf/VlL4hQSU5a4Bx1xLDCd7JrqFx1b1RgcjVFj6xpkSWtdC1Pkgcd9kKni7IgOlAKozlk6NfFQCjxenToahEslxAAcDPseL8Gjix/lmaeOpWBFU/cT1m9kcM8fTWa74wJjHpUywJlhOqEuenJCJr2VR3xAggQqcrRVF7YURxwK7uOE9ydvytJytg8nB1AQREZTLTTIr+Mi3xwxx6k2zmOfZ1lrruNhxKWCjoHVrJLc1cJF24jU/tbYnSDe7bL8u9sPDWqdZ2Zm4qgqz6lZA+aKNZHFc7pSRVxriWZDvoLjTOXq/6SVSuGyg1neyf7i2TLt0bJGdBAzsaYmIbn6to4Zs1kOVH9w9vjn++T5716Bp57gUGwjbRTOiX6xI1bd5wa7a9k3Zn6msYvsmXnTs31OihgUO72nsfToRKV7x9KWJbp6+778xrJNamNvyRRpoilWNLKiKTKd6aZblJQ3egkPFiXr8kSPjQFW++btDef0M4rvx2TGab5+DZmEbUZXBNkswU8u+VQFVRsCz78PrpjprMhJm+KWhu10WN6PTcuIlHQqtsthWf/yZKFHSoqqPmyqi32Wq1kaXxkZo5kWryzUHVGvlPFSOMJGZLOG3xag4EZzOHrqVLx/jUdUG0m+XjJu1nHJZmHwoU7V9UtsKbMzhj1sIitGc+7lG80/Zrk8sXg4/tOGBsfPbaQxHmCo6wbCH4G+ASM3+fybErCOj9wMNh9Nd53CXIvpyjNxTrYzJG06+cz+TBR02LoX+fMHOUZNtj8a9C8sIcJM+IPyAxyEB9gQfw3UZGTvnz9ls8w9BaFmkagUTvVBuUTm0IIec2uYHi7G64brFyWOcbJR9/F4e2k2Ato+OsYnHoomAHfMrCZH3IqmWVIfpZ+f+DDpLEeWk422l8fbR7U5mkqX95hLw8vfsrR2bxwIdxvlPDdrzvwFKzJWLFxwg6jr9qQ/jKifLilZZhJE6pCd8r0NfpYSnfeQ/4DE69cHUQIH/ZZOCSBKbQEkqVDo7OTyxgcE2iIkXEWVojdC/SFcLYboi1cN39QHyeCKHoBf2bfwNv/HevUBVDN2/jr5s5HxFiUsTO9bTqVuPnL6P5AujxhPHXEO4S4f7Zk97V6A8mCaOLlxY7TCeVGv28ACNX1bH1TTltzvtwBHQgGm/2JOYE6qOqPbhExxtvhftBZ/63UwieeVRgYiqZgykMqlRsaaTSaHnm/F1ktFEwjX9WAdYt8YK5LH3MtCep910d8yaQIeuAGgGgVGqrqD9i8SD6JB2MaroG+Rmq8xGDV89Yh1HHRXG4x8zUg1yFhebBXk2tZFpzBm45yasMt42zhFTrjZjOiUfaMFudbidJdhanKyj8oUrnqgePqrUKst/PVU8cCKNvmoyMnqYYpx6woKXp0Yd+IVfOvGrZRD44dutt98P08+4V/Y8Lt16aNo54x3BHeM51zIP3IQfdmCKjDB97Mz03IzS17Cna2HiBs+hYLFU1y7ygrUT5Pb7xdlwfPjQ6VP/XshRRFo+vh0liImaEFo6uVWaPVcQgs6XtI3L0t+nzJnIe6ePKOpJZTUOiUw2na0ihsm8S8CkdRZa8BkC3idfWAkGYiiyl5zXIjOrEwpIyRMgWcnHJhMiYOmOZhwJcLZbFC00CVmC+XTbWR68AEcegJ8ADSylrPCHieFTroFr3jwYIXMwCFgphK4c/nyzgyMFXDnQ5Q4TxotL4P6+qAyBj5K9jgoExWt1UYjEx/lI5i/Gwz9/YOG6/Up7wH/T8IVU0MAWabmzZj/d+C6YSdhP2FzC0jfffumHoWPumYBdQI9m7R42tSp+bseIhzsjj27pqFgRVpd09DPGEIL6IVtfFNWI7wLXj3V8vx3mBCgPOAXTLb2eV59TFwohgopkq+B/vXb/sBfj8fyi6n9OIpAJHwmntVpZEpK7Fv6K0V5wrdBr4mlweXz3f5/6FH1m7U0JcEyE2wk3Kh3wXO6TdFe+5ONy00VD7ASFyIrU4mqzCG6sniaQwhV0wwB1E4LpkTLwSHEmAIwemn8hmJeTBOE4yOycp+oyguiK2+mObvB9j8Ng+znNIKMqtckEpbfvhBIhlmoIrzGYPhubrlEHPsJNm+S/KSe+AuU/DYxdkNs/wcEoPIR6WEnZiMM4S7eyQcybBuKSLiA5s4xx3vfG5e307gfWlIESKxmnQlKWdLTUGAMa8WmIno/7xOwso1E7ktYh/4CJL1QPJkw6gzp5EOGPJfsg508WBNmxhDibIJ2wns7BmzeHiREd10LoLGOK7Eruuu9W5m8sms3ux+BLJvvMvQ7TAiSZEXVdMO0bMf1/GjRY8SMFTtOXNXgZNBw2aXfaiM1KMT1YgDmm/XsstJdgmg3aHxILC3JvYo4a5n4kiDMVYrI3pSKn54Z6PYE7SRfySleYY0PoGziVpdvK9c/512uCmbOqrlQCLneUEv2GOrmuLW2zEBVxt3Kh2sstuxwAA==') format('woff2'),
  url('//at.alicdn.com/t/font_1144028_wagkprqwss.woff?t=1559890563345') format('woff'),
  url('//at.alicdn.com/t/font_1144028_wagkprqwss.ttf?t=1559890563345') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1144028_wagkprqwss.svg?t=1559890563345#typicon') format('svg'); /* iOS 4.1- */
}

.typicon {
  font-family: "typicon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-behance:before {
  content: "\e643";
}

.icon-mail:before {
  content: "\e66b";
}

.icon-facebook:before {
  content: "\e675";
}

.icon-feed:before {
  content: "\e678";
}

.icon-github:before {
  content: "\e691";
}

.icon-google:before {
  content: "\e69c";
}

.icon-instagram:before {
  content: "\e6b6";
}

.icon-podcast:before {
  content: "\e6e3";
}

.icon-send:before {
  content: "\e6f4";
}

.icon-spotify:before {
  content: "\e707";
}

.icon-twitter:before {
  content: "\e72a";
}

.icon-wechat:before {
  content: "\e738";
}

.icon-weibo:before {
  content: "\e737";
}

.icon-overcast:before {
  content: "\e624";
}

.icon-feedly:before {
  content: "\e62e";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-youtube:before {
  content: "\e745";
}

.icon-menu:before {
  content: "\e60a";
}

.icon-location:before {
  content: "\e60b";
}

.icon-inoreader:before {
  content: "\e60c";
}

.icon-feedbin:before {
  content: "\e60d";
}

.icon-pcast:before {
  content: "\e60f";
}

